{% extends "Layout.html" %}
{% block content %}
<section id="home" >
    
    <h1 class="intro-header">
      {{ title }}
    </h1> 
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {% if form.email_address.errors %}
                        {{ form.email_address(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email_address.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email_address(class="form-control form-control-lg full-width", style="color:grey", placeholder="Email Address") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg full-width", placeholder="Password") }}
                    {% endif %}
                </div>
                <div class="form-check" align="center">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info full-width", style="color:grey;font-family: Verdana;background:white;border-color:black") }}
            </div>
        </form>
       </section>
{% endblock content %}